<div class="box">
    <div class="box-profile">
        <div class="header-profile">
            <div class="radius-photo">
                <img src="<%= config.source_img%>" alt="Foto <%= config.your_name%>" width="150">
            </div>
        </div>
        <span class="title">
            <%= config.your_name%>
        </span>
        <div class="clear"></div>
        <div id="contacts-details">

        </div>
    </div>
</div>